body
{
width: 90%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
border-radius: 5px;
box-shadow: 0 0 5px 5px;
padding: 10px;
font-family: Verdana;
}

.red_h
{
background-color: #990000;
color: white;
text-align: center;
padding: 10px;
box-shadow: 5px 5px black;
}

.green_h
{
background-color: #006600;
color: white;
text-align: center;
padding: 10px;
box-shadow: 5px 5px black;
}

.food_pic
{
width: 75px; 
height: 75px;
border: 3px solid black;
}

h2
{
color: black;
border-bottom: dotted;
padding: 10px;
font-size: 35px;
font-family: Agency FB;
}

h3
{
background-color: black;
color: white;
text-align: center;
padding: 10px;
}

#logo
{
text-align: left;
}
